#table-brothers img {
  width: 158px;
}
#main-scroll .row .col.expand {
  width: 100%;
}
#main-scroll .no-margin {
  margin: 0px;
}
#main-scroll .no-padding{
  padding: 0px;
}
#main-scroll .pinned{
  width: 115px;
  opacity: 0.7;
  background-color: #424242 ;
  color: black;
}
#main-scroll .no-top-margin {
  margin-top: 0px;
}
/* Overwrites stuff in materialize.css */
.nav-wrapper .desktop-nav li {
  height: 64px;
  display: flex;
  align-items: stretch;
}

.nav-wrapper .desktop-nav li a.active {
  border-bottom: 4px solid white;
}

ul.table-of-contents a{
  color:white;
}
ul.table-of-contents a.active {
  border-left: 4px solid #007A33;
  padding-left: 4px;
  margin-left: 10px;
  color: white;
}
ul.table-of-contents a:hover {
  border-left: 2px solid #007A33;
  padding-left: 4px;
  margin-left: 10px;
  color: white;
}
.dropdown-content li > a, .dropdown-content li > span {
  color: #007A33;
}
nav {
  padding-right: 10px;
  padding-left: 10px;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
footer.page-footer {
  background-color: #007A33;
}
.footer-contact-list > li > a {
  color: #FFFFFF;
}
ul.side-nav {
  overflow-y: auto;
}
ul.side-nav a {
  color: #007A33;
}
ul.side-nav li {
  padding: 0px;
}
.collapsible-header {
  padding: 0px;
}
ul.side-nav li:hover, ul.side-nav li.active {
  background-color: #f5f5f5;
}
/* For rush calendar */

.clearfix {
  display: inline-block;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.rush-cal {
  width: 100%;
  background-color: #ebebeb;
  font-weight: 700;
  -moz-box-shadow: 0px 4px 0 #007A33;
  -webkit-box-shadow: 0px 4px 0 #007A33;
  box-shadow: 0px 4px 0 #007A33;
}
.rush-cal .clndr-controls {
  padding: 14px;
  background-color: #007A33;
  color: #FFFFFF;
  text-align: center;
}
.rush-cal .clndr-controls .clndr-previous-button {
  float: left;
  text-align: left;
}
.rush-cal .clndr-controls .clndr-next-button {
  float: right;
  text-align: right;
}
.rush-cal .clndr-controls .clndr-previous-button, .rush-cal .clndr-controls .clndr-next-button {
  width: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */

  -moz-user-select: none;
  /* Firefox */

  -ms-user-select: none;
  /* IE10+ */
}
.rush-cal .clndr-controls .clndr-previous-button:hover, .rush-cal .clndr-controls .clndr-next-button:hover {
  opacity: 0.5;
}
.rush-cal .clndr-grid {
  float: left;
  width: 65%;
  border-right: 2px solid white;
}
.rush-cal .clndr-grid .days-of-the-week {
  width: 100%;
  background-color: #00c853;
}
.rush-cal .clndr-grid .days-of-the-week .header-day {
  float: left;
  width: 14.2857%;
  padding: 14px;
  text-align: center;
  color: white;
}
.rush-cal .clndr-grid .days {
  width: 100%;
}
.rush-cal .clndr-grid .days .day, .rush-cal .clndr-grid .days .empty {
  float: left;
  width: 14.2857%;
  height: 66px;
  padding: 24px 0;
  text-align: center;
  color: #4f4f4f;
  background-color: #ebebeb;
  border-bottom: 2px solid white;
  background-size: cover;
  background-position: center;
}
.rush-cal .clndr-grid .days .day.event .day-number, .rush-cal .clndr-grid .days .empty.event .day-number {
  padding-bottom: 4px;
  border-bottom: 2px solid #007A33;
}
.rush-cal .clndr-grid .days .day.adjacent-month .day-number, .rush-cal .clndr-grid .days .empty.adjacent-month .day-number {
  opacity: 0.3;
}
.rush-cal .clndr-grid .days .today {
  background-color: white;
  background-image: none;
}
.rush-cal .event-listing {
  float: left;
  width: 35%;
  overflow-y: auto;
}
.rush-cal .event-listing .event-listing-title {
  padding: 14px;
  background-color: #00c853;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}
.rush-cal .event-listing .event-item {
  padding: 14px;
  color: #4f4f4f;
}
.rush-cal .event-listing .event-item-desc {
  font-weight: 400;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/* Handle */

::-webkit-scrollbar-thumb {
  background: #007A33;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #007A33;
}

.rush-img{
  max-height:100%; 
  max-width:100%;
  /* margin-bottom: 10px; */
  /* display: inline-block; */
}

@media all and (min-width: 480px){
  .parallax-container-mobile {
    position: relative;
    overflow: hidden;
    height: 500px; }
  
  .parallax-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; }
    .parallax-mobile img {
      display: none;
      position: absolute;
      bottom: 0;
      width: 100%;
      min-height: 100%;
      background-position: center; }
  .rush-img{
    margin-right: 15px;
    width: 480px;
    height: 400px;
  }
}
@media all and (max-width: 480px){
  .parallax-mobile img {
    height: auto;
    width: 100%;
  }
  .hidden-tablet-up{
    display: none; 
  }
}

/* Style the Image Used to Trigger the Modal */
#current {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.composite:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  /* max-width: 700px; */
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
      width: 100%;
  }
}

#current {
  width: 75%;
  height: auto;
  justify-content: center;
}

#current_composite_row {
  display: flex;
  justify-content: center;
}

#test_row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 5%;
  padding-left: 5%;
}

.composite {
  width: 100%;
  height: auto;
}

.composite_head {
  display: flex;
  justify-content: center;
}

.col_comp {
  width: 20%;
  height: 20%;
}

.year_text {
  text-align: center
}

#rush_calendar {
  border:solid 1px #007A33;
  width: 800px; 
  height: 600px;
  justify-content: center;
}

#rush_cal_head {
  text-align: center;
}

.rush_calendar_container {
  display: flex;
  justify-content: center;
}

