<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="description"
    content="Delta Sigma Phi Fraternity | Zeta Lambda Chapter | Rose-Hulman Institute of Technology">

  <link rel="shortcut icon" href="ico/favicon.ico">
  <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="css/app.css" media="screen,projection" />

  <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
  <title>&#916;&#931;&#934; &#918;&#923;</title>
</head>

<body>
  <header>
    <ul id="dropdown-hares" class="dropdown-content">
      <li><a href="pdf/hare-spring-2008-2009.pdf">Spring 2008-09</a></li>
      <li><a href="pdf/hare-fall-2009-2010.pdf">Fall 2009-10</a></li>
      <li><a href="pdf/hare-winter-2009-2010.pdf">Winter 2009-10</a></li>
      <li><a href="pdf/hare-spring-2009-2010.pdf">Spring 2009-10</a></li>
      <li><a href="pdf/hare-fall-2010-2011.pdf">Fall 2010-11</a></li>
      <li><a href="pdf/hare-winter-2010-2011.pdf">Winter 2010-11</a></li>
      <li><a href="pdf/hare-spring-2012-2013.pdf">Spring 2012-13</a></li>
      <li><a href="pdf/hare-spring-2013-2014.pdf">Spring 2013-14</a></li>
      <li><a href="pdf/hare-winter-2015-2016.pdf">Winter 2015-16</a></li>
      <li><a href="pdf/hare-winter-2016-2017.pdf">Winter 2016-17</a></li>
      <li><a href="pdf/hare-spring-2016-2017.pdf">Spring 2016-17</a></li>
      <li><a href="pdf/hare-fall-2017-2018.pdf">Fall 2017-18</a></li>
      <li><a href="pdf/hare-winter-2017-2018.pdf">Winter 2017-18</a></li>
      <li><a href="pdf/hare-fall-2018-2019.pdf">Fall 2018-19</a></li>
      <li><a href="pdf/hare-spring-2018-2019.pdf">Spring 2018-19</a></li>
    </ul>

    <nav class="green darken-2">
      <div class="nav-wrapper">
        <a href="index.html" class="brand-logo hide-on-med-and-down" style="">&#916;&#931;&#934; &#918;&#923;</a>
        <span class="brand-logo hide-on-large-only center">&#916;&#931;&#934; &#918;&#923;</span>
        <a href="" data-activates="mobile-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <ul class="right desktop-nav hide-on-med-and-down">
          <li><a href="brothers.html">Brothers</a></li>
          <li><a href="officers.html">Officers</a></li>
          <li><a href="rush.html">Rush</a></li>
          <li><a href="history.html">History</a></li>
          <li><a href="brotherhood.html">Brotherhood</a></li>
          <li><a href="dogs.html">Dogs</a></li>
          <li><a class="dropdown-button" href="" data-activates="dropdown-hares">Hares<i
                class="mdi-navigation-arrow-drop-down right"></i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-menu">
          <li><a href="index.html">Home</a></li>
          <li><a href="brothers.html">Brothers</a></li>
          <li><a href="officers.html">Officers</a></li>
          <li><a href="rush.html">Rush</a></li>
          <li><a href="history.html">History</a></li>
          <li><a href="brotherhood.html">Philanthropy</a></li>
          <li><a href="dogs.html">Dogs</a></li>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header green-text text-darken-3">Hares<i
                  class="mdi-navigation-arrow-drop-down right"></i></div>
              <div class="collapsible-body">
                <ul>
                  <li><a href="pdf/hare-spring-2008-2009.pdf">Spring 2008-09</a></li>
                  <li><a href="pdf/hare-fall-2009-2010.pdf">Fall 2009-10</a></li>
                  <li><a href="pdf/hare-winter-2009-2010.pdf">Winter 2009-10</a></li>
                  <li><a href="pdf/hare-spring-2009-2010.pdf">Spring 2009-10</a></li>
                  <li><a href="pdf/hare-fall-2010-2011.pdf">Fall 2010-11</a></li>
                  <li><a href="pdf/hare-winter-2010-2011.pdf">Winter 2010-11</a></li>
                  <li><a href="pdf/hare-spring-2012-2013.pdf">Spring 2012-13</a></li>
                  <li><a href="pdf/hare-spring-2013-2014.pdf">Spring 2013-14</a></li>
                  <li><a href="pdf/hare-winter-2016-2017.pdf">Winter 2016-17</a></li>
                  <li><a href="pdf/hare-spring-2016-2017.pdf">Spring 2016-17</a></li>
                  <li><a href="pdf/hare-winter-2017-2018.pdf">Spring 2017-18</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <!-- content -->
    <div class="parallax-container">
      <div class="parallax"><img src="img/index/dsp.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">A Letter from the President</h2>
        <p>Hello Family and Friends of Delta Sigma Phi,</p>
        <p>Most people do not understand the value of Greek life and what it is able to offer to a young man during his
          college years. Most of our brothers had no intention of joining a fraternity when they arrived on campus as
          freshman, thinking that fraternity life was nothing more than partying. In reality, Greek life at Rose-Hulman
          is a powerful tool to help build better men through leadership, service, and community. I strongly encourage
          all incoming students to come in with an open mind and take the time to understand what Greek life is really
          like at Rose-Hulman.</p>
        <p>Our chapter is built around the strong personal connections and the diversity of interests that our brothers
          have. Our brothers are passionate about video games, cars, intramural and Rose-Hulman athletics, movies and a
          multitude of other hobbies. What makes Delta Sigma Phi unique is that these diverse interests don’t divide us,
          instead we celebrate the passion that our brothers have for their hobbies.</p>
        <p>Students come to Rose-Hulman to be the best engineer they can be, and as a chapter we do everything we can to
          support our brothers and their academic success. We schedule group study sessions, establish upperclassmen
          tutors for brothers who are struggling with a course, and give out quarterly awards for academic success and
          improvement. Beyond all of the direct academic support we give our brothers, having a group of men that you
          know and trust to support you in your courses allows you to be a more successful student.</p>
        <p>Thank you for your time! If you have any questions about Delta Sigma Phi or Greek life in general please feel
          free to <a class="green-text text-accent-4" href="mailto:bissmepj@rose-hulman.edu">reach out to me</a> at any
          time!</p>
        <p>Sincerely,</p>
        <br />
        <img src="img/index/signature-bissmepj.png" alt="Phil Bissmeyer" />
        <p>Phil Bissmeyer</p>
        <p>Chapter President</p>
        <p>Delta Sigma Phi - Zeta Lambda</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="img/index/dsp.jpg"></div>
    </div>

    <!-- Preamble -->
    <div id="preamble" class="section white scrollspy">
      <div class="row container">
        <h2 class="header">Preamble of the Delta Sigma Phi Fraternity</h2>
        <p>The Delta Sigma Phi Fraternity in convention assembled declares and affirms the following principles:</p>
        <p>That the belief in God is essential to our welfare.</p>
        <p>That loyalty to the constituted authority of our nations and their subdivisions is a cardinal virtue of our
          brotherhood, the pledged faith of which shall never be broken; and that our brotherhood, receiving the
          blessings of liberty, education and fraternity, shall ever support, foster and defend our universities,
          colleges, and school systems, founded under the dispensation of our governments and constituting the bulwarks
          of democracy for us, for our posterity and for all men.</p>
        <p>That the sanctity of the home and the sacredness of the family bond, the hearthstone of our enlightened
          civilization, and the chivalry of man toward woman, shall be maintained and protected by us, not only for
          ourselves and our posterity, but also for the good of all mankind.</p>
        <p>That a symmetrical culture, a fraternal communion among the colleges of this country, and a brotherhood of
          men, whose ideals and beliefs are those of modern civilization, are essential to the welfare of our college
          men.</p>
        <p>In furtherance of these aims, this Fraternity has recognized certain standards of attainment and gentlemanly
          conduct, expressed in the ideals symbolically represented by the three Greek letters, Delta, Sigma, Phi; and
          it shall be the constant endeavor of the brothers who may be called to preside over and govern the Fraternity,
          or its component chapters, to enforce the precepts of the Fraternity by every reasonable means within their
          power, and they, and each brother of the Fraternity shall exemplify those principles by conduct as well as
          enforcement in order that the Fraternity may grow and prosper with honor to itself and that the world may ever
          be convinced of the sincerity of our purpose.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="img/index/dsp.jpg"></div>
    </div>

    <div class="section white">
      <!-- for large screen only -->
      <div class="row container hide-on-med-and-down">
        <h2 class="header">Additional Information</h2>
        <div class="col l6">
          <h4>A Message from Headquarters</h4>
          <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/7JZBnRRM1WU" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </div>
        <div class="col l6">
          <h4>Rush Calendar</h4>
          <div id="rush-cal" class="rush-cal clearfix"></div>
        </div>
      </div>

      <!-- everything else -->
      <div class="row container hide-on-large-only">
        <h2 class="header">Additional Information</h2>
        <div class="col m12 s12">
          <h4>A Message from Headquarters</h4>
          <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/7JZBnRRM1WU" frameborder="0"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="row container hide-on-large-only">
        <div class="col m12 s12">
          <h4>Rush Calendar</h4>
          <div id="rush-cal-small" class="rush-cal clearfix"></div>
        </div>
      </div>
    </div>

    <!-- required for calendar. TODO move to external file and import -->
    <script type="text/template" id="rush-cal-template">
      <div class="clndr-controls">
        <div class="clndr-previous-button">&lt;</div>
        <div class="clndr-next-button">&gt;</div>
        <div class="current-month"><%= month %> <%= year %></div>
      </div>
      <div class="clndr-grid">
        <div class="days-of-the-week clearfix">
          <% _.each(daysOfTheWeek, function(day) { %>
            <div class="header-day"><%= day %></div>
          <% }); %>
        </div>
        <div class="days">
          <% _.each(days, function(day) { %>
            <div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div>
          <% }); %>
        </div>
      </div>
      <div class="event-listing">
        <div class="event-listing-title">EVENTS THIS MONTH</div>
        <% _.each(eventsThisMonth, function(event) { %>
            <div class="event-item">
              <div class="event-item-name"><%= event.title %> <span class="right"><small><%= event.time %></small></span></div>
              <div class="event-item-desc"><%= event.desc %></div>
            </div>
          <% }); %>
      </div>
    </script>
  </main>


  <footer class="page-footer">
    <div class="container">
      <div class="row">

        <div class="col l3 m12 s12" style="overflow: hidden;">
          <h4 class="white-text valign">Contact</h4>
          <ul>
            <li><a href="mailto:theneltj@rose-hulman.edu" class="green-text text-accent-1">President</a></li>
            <li><a href="mailto:purdydj@rose-hulman.edu" class="green-text text-accent-1">Vice President</a></li>
            <li><a href="mailto:crabtrbm@rose-hulman.edu" class="green-text text-accent-1">Rush Director</a></li>
            <li><a href="mailto:chungy@rose-hulman.edu" class="green-text text-accent-1">Webmaster</a></li>
          </ul>
        </div>
        <div class="col l5 m12 s12">
          <h4 class="white-text valign">Location</h4>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3080.338023620965!2d-87.41042449999996!3d39.461691699999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x886d65320ce95333%3A0xa93085f04e4dafce!2s429+S+6th+St%2C+Terre+Haute%2C+IN+47807!5e0!3m2!1sen!2sus!4v1425759548538"
            width="400" height="300" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="col l3 m12 s12">
          <h4 class="white-text valign">Links</h4>
          <ul>
            <li><a href="http://www.deltasig.org/" class="green-text text-accent-1">Headquarters</a></li>
            <li><a href="http://www.rose-hulman.edu/" class="green-text text-accent-1">Rose-Hulman Institute of
                Technology</a></li>
            <li><a href="http://www.rose-hulman.edu/student-life/greek-life/intrafraternity-council.aspx"
                class="green-text text-accent-1">Interfraternity Council</a></li>
            <li><a href="http://www.dspzlalumni.org/" class="green-text text-accent-1">Alumni</a></li>
            <li><a href="http://www.dspzlalumni.org/forums/" class="green-text text-accent-1">Forums</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        &copy; 2015 &#916;&#931;&#934; &#918;&#923; &bull; 429 S. 6<sup>th</sup> St. &bull; Terre Haute, IN 47807 &bull;
        (812) 234-0969
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script type="text/javascript" src="js/base.js"></script>
  <!-- required for rush calendar -->
  <script type="text/javascript" src="js/moment-2.8.3.js"></script>
  <script type="text/javascript" src="js/underscore-min.js"></script>
  <script type="text/javascript" src="js/clndr.min.js"></script>
  <script type="text/javascript" src="js/calendar-data.js"></script>

</body>

</html>