---
layout: default
---
    <div class="parallax-container">
      <div class="parallax"><img src="img/index/dsp.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">A letter from the president</h2>
        <p>Hello and welcome to the website for the Zeta Lambda Chapter of the Delta Sigma Phi Fraternity.</p>
        <p>Greek life at Rose-Hulman is a very unique experience, and I encourage all incoming students to take the time and explore every fraternity and make an informed decision. I promise that the typical "wild and out of control" view of fraternity life is very much a misconception at Rose-Hulman.</p>
        <p>I consider our chapter to be one of the most diverse groups of people on campus. On a given weekend, we have brothers participating in swim meets, track meets, Ultimate Frisbee matches, movie or TV marathons at the house, video game tournaments, and a multitude of other activities. It is this quality that led me to pledge Delta Sig, and I think our greatest strength lies in our ability to combine people of different backgrounds and experiences into a cohesive group.</p>
        <p>Academics are very important to me, and Rose-Hulman has a very demanding curriculum that is not the easiest to adjust to for some people. Our chapter consistently has one of the highest GPA's among fraternities at Rose, but it is not because we have a super-strict academic policy or that we recruit members just for their high GPA. We excel because we provide an understanding support group to all members. Our academic committee is working on providing incentives for high performance, and upperclassmen are constantly helping younger guys with homework. We're all engineers, and we all help each other succeed.</p>
        <p>Let me thank you for taking the time to read this letter and visit our website. Please take the time to learn everything that you need to from our self-designed and regulated website. If you have any questions, please <a class="green-text text-accent-4" href="mailto:umbowewd@rose-hulman.edu">contact me</a> and I would be more than happy to answer them.</p>
        <p>Sincerely,</p>
        <br />
        <!--<img src="img/index/signature-umbowewd.png" alt="Wesley Umbower" />-->
        <p>Wesley Umbower</p>
        <p>Delta Sigma Phi Fraternity</p>
        <p>Zeta Lambda Chapter President</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="img/index/dsp.jpg"></div>
    </div>

    <!-- Preamble -->
    <div id="preamble" class="section white scrollspy">
      <div class="row container">
        <h2 class="header">Preamble of the Delta Sigma Phi Fraternity</h2>
        <p>The Delta Sigma Phi Fraternity in convention assembled declares and affirms the following principles:</p>
        <p>That the belief in God is essential to our welfare.</p>
        <p>That loyalty to the constituted authority of our nations and their subdivisions is a cardinal virtue of our brotherhood, the pledged faith of which shall never be broken; and that our brotherhood, receiving the blessings of liberty, education and fraternity, shall ever support, foster and defend our universities, colleges, and school systems, founded under the dispensation of our governments and constituting the bulwarks of democracy for us, for our posterity and for all men.</p>
        <p>That the sanctity of the home and the sacredness of the family bond, the hearthstone of our enlightened civilization, and the chivalry of man toward woman, shall be maintained and protected by us, not only for ourselves and our posterity, but also for the good of all mankind.</p>
        <p>That a symmetrical culture, a fraternal communion among the colleges of this country, and a brotherhood of men, whose ideals and beliefs are those of modern civilization, are essential to the welfare of our college men.</p>
        <p>In furtherance of these aims, this Fraternity has recognized certain standards of attainment and gentlemanly conduct, expressed in the ideals symbolically represented by the three Greek letters, Delta, Sigma, Phi; and it shall be the constant endeavor of the brothers who may be called to preside over and govern the Fraternity, or its component chapters, to enforce the precepts of the Fraternity by every reasonable means within their power, and they, and each brother of the Fraternity shall exemplify those principles by conduct as well as enforcement in order that the Fraternity may grow and prosper with honor to itself and that the world may ever be convinced of the sincerity of our purpose.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="img/index/dsp.jpg"></div>
    </div>

    <div class="section white">
      <!-- for large screen only -->
      <div class="row container hide-on-med-and-down">
        <h2 class="header">Additional Information</h2>
        <div class="col l6">
          <h4>A message from Headquarters</h4>
          <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/7JZBnRRM1WU" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col l6">
          <h4>2015-2016 rush calendar</h4>
          <div id="rush-cal" class="rush-cal clearfix" ></div>
        </div>
      </div>

      <!-- everything else -->
      <div class="row container hide-on-large-only">
        <h2 class="header">Additional Information</h2>
        <div class="col m12 s12">
          <h4>A message from nationals</h4>
          <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/7JZBnRRM1WU" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="row container hide-on-large-only">
        <div class="col m12 s12">
          <h4>2016 Rush Calendar</h4>
          <div id="rush-cal-small" class="rush-cal clearfix" ></div>
        </div>
      </div>
    </div>

    <!-- required for calendar. TODO move to external file and import -->
    <script type="text/template" id="rush-cal-template">
      <div class="clndr-controls">
        <div class="clndr-previous-button">&lt;</div>
        <div class="clndr-next-button">&gt;</div>
        <div class="current-month"><%= month %> <%= year %></div>
      </div>
      <div class="clndr-grid">
        <div class="days-of-the-week clearfix">
          <% _.each(daysOfTheWeek, function(day) { %>
            <div class="header-day"><%= day %></div>
          <% }); %>
        </div>
        <div class="days">
          <% _.each(days, function(day) { %>
            <div class="<%= day.classes %>" id="<%= day.id %>"><span class="day-number"><%= day.day %></span></div>
          <% }); %>
        </div>
      </div>
      <div class="event-listing">
        <div class="event-listing-title">EVENTS THIS MONTH</div>
        <% _.each(eventsThisMonth, function(event) { %>
            <div class="event-item">
              <div class="event-item-name"><%= event.title %> <span class="right"><small><%= event.time %></small></span></div>
              <div class="event-item-desc"><%= event.desc %></div>
            </div>
          <% }); %>
      </div>
    </script>
  </main>
